.svg{
    width: 200;
    height: 500;
    border: 5px solid black;
    margin: 5rem;
}

.mainDiv{
    border: 5px solid black;
}

.tituloActividad{
    font-style: Arial;
}

:root {
    --columns: repeat(5, 1fr); /* the default */
}

.grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-auto-rows: minmax(80px, auto);
  }
  
  .grid-item {
    border: 1px solid black;
    text-align: center;
    padding: 20px 0;
    font-size: 150%;
    font-style: Arial;
    font-weight: bold;
  }